In [23]:
import pandas
import datetime
import calendar

In [3]:
df = pandas.read_csv('quakes.csv')
df_schema = pandas.read_csv('schema.csv')

In [4]:
df

,YEAR,MONTH,DAY,HOUR,MINUTE,SECOND,LATITUDE,LONGITUDE,DEPTH,MAGNITUDE
0,1964,FEB,24,23,30,25.0,38.9000,23.9000,10,5.3
1,1964,APR,11,16,0,0.0,39.7500,25.2500,10,5.7
2,1964,APR,21,8,14,40.0,38.5000,22.2500,10,4.5
3,1964,APR,24,3,49,58.0,38.0000,21.8000,10,5.0
4,1964,APR,29,4,21,0.0,39.2500,23.7500,10,5.8
...,...,...,...,...,...,...,...,...,...,...
313395,2021,APR,9,5,0,7.4,39.7856,21.9081,5,0.6
313396,2021,APR,9,5,0,21.9,39.7920,21.9328,5,1.5
313397,2021,APR,9,5,1,6.5,39.7160,22.1947,8,1.0
313398,2021,APR,9,5,2,5.6,39.7929,21.9154,6,1.0
313399,2021,APR,9,5,15,5.0,39.8007,21.8948,7,1.2

In [5]:
df_schema

      COLUMN                   ATTRIBUTE
0       YEAR       event Date: Year XXXX
1      MONTH      event Date: Month abbr
2        DAY             event Date: Day
3       HOUR  event Time (GMT): Hour 24h
4     MINUTE    event Time (GMT): Minute
5     SECOND    event Time (GMT): Second
6   LATITUDE          event Latitude (N)
7  LONGITUDE         event Longitude (E)
8      DEPTH            event Depth (km)
9  MAGNITUDE          event Magnitude Mr

combine YEAR, MONTH, DAY to create DATE

In [12]:
df['YEAR'].astype(str) + '-' + df['MONTH'].astype(str) + '-' + df['DAY'].astype(str)

0         1964-FEB-24
1         1964-APR-11
2         1964-APR-21
3         1964-APR-24
4         1964-APR-29
             ...
313395     2021-APR-9
313396     2021-APR-9
313397     2021-APR-9
313398     2021-APR-9
313399     2021-APR-9
Length: 313400, dtype: object

this is not good enough

let's begin by trying to format the days (must have two digits)

In [111]:
df['DAY']

0         24
1         11
2         21
3         24
4         29
          ..
313395     9
313396     9
313397     9
313398     9
313399     9
Name: DAY, Length: 313400, dtype: int64

In [112]:
'any int in an string can be formated, for example {0} can be {1:02}'.format(6 ,6)

'any int in an string can be formated, for example 6 can be 06'

In [113]:
df['DAY'].map('{0:02}'.format)

0         24
1         11
2         21
3         24
4         29
          ..
313395    09
313396    09
313397    09
313398    09
313399    09
Name: DAY, Length: 313400, dtype: object

now let's continue with the months

we have to change them to numbers

In [115]:
df['MONTH']

0         FEB
1         APR
2         APR
3         APR
4         APR
         ...
313395    APR
313396    APR
313397    APR
313398    APR
313399    APR
Name: MONTH, Length: 313400, dtype: object

In [120]:
list(calendar.month_abbr)

['',
 'Jan',
 'Feb',
 'Mar',
 'Apr',
 'May',
 'Jun',
 'Jul',
 'Aug',
 'Sep',
 'Oct',
 'Nov',
 'Dec']

we can now create a very useful dictionary (which maps month abbreviations to numbers):

In [123]:
{x:y for (y,x) in enumerate(list(calendar.month_abbr))}

{'': 0,
 'Jan': 1,
 'Feb': 2,
 'Mar': 3,
 'Apr': 4,
 'May': 5,
 'Jun': 6,
 'Jul': 7,
 'Aug': 8,
 'Sep': 9,
 'Oct': 10,
 'Nov': 11,
 'Dec': 12}

In [125]:
df['MONTH'].map(str.title)

0         Feb
1         Apr
2         Apr
3         Apr
4         Apr
         ...
313395    Apr
313396    Apr
313397    Apr
313398    Apr
313399    Apr
Name: MONTH, Length: 313400, dtype: object

In [126]:
(df['MONTH'].map(str.title)).replace({x:y for (y,x) in enumerate(list(calendar.month_abbr))})

0         2
1         4
2         4
3         4
4         4
         ..
313395    4
313396    4
313397    4
313398    4
313399    4
Name: MONTH, Length: 313400, dtype: int64

In [127]:
((df['MONTH'].map(str.title)).replace({x:y for (y,x) in enumerate(list(calendar.month_abbr))})).map('{0:02}'.format)

0         02
1         04
2         04
3         04
4         04
          ..
313395    04
313396    04
313397    04
313398    04
313399    04
Name: MONTH, Length: 313400, dtype: object

now everything is in place, so let's create our new DATE column

In [128]:
df['YEAR'].astype(str) + \
    '-' + (((df['MONTH'].map(str.title)).replace({x:y for (y,x) in enumerate(list(calendar.month_abbr))})).map('{0:02}'.format)).astype(str) + \
        '-' + (df['DAY'].map('{0:02}'.format)).astype(str)

0         1964-02-24
1         1964-04-11
2         1964-04-21
3         1964-04-24
4         1964-04-29
             ...
313395    2021-04-09
313396    2021-04-09
313397    2021-04-09
313398    2021-04-09
313399    2021-04-09
Length: 313400, dtype: object

now let's do the same with creating a TIME column

In [129]:
df['HOUR']

0         23
1         16
2          8
3          3
4          4
          ..
313395     5
313396     5
313397     5
313398     5
313399     5
Name: HOUR, Length: 313400, dtype: int64

In [130]:
df['HOUR'].map('{0:02}'.format)

0         23
1         16
2         08
3         03
4         04
          ..
313395    05
313396    05
313397    05
313398    05
313399    05
Name: HOUR, Length: 313400, dtype: object

In [131]:
df['MINUTE']

0         30
1          0
2         14
3         49
4         21
          ..
313395     0
313396     0
313397     1
313398     2
313399    15
Name: MINUTE, Length: 313400, dtype: int64

In [132]:
df['MINUTE'].map('{0:02}'.format)

0         30
1         00
2         14
3         49
4         21
          ..
313395    00
313396    00
313397    01
313398    02
313399    15
Name: MINUTE, Length: 313400, dtype: object

In [133]:
df['SECOND']

0         25.0
1          0.0
2         40.0
3         58.0
4          0.0
          ...
313395     7.4
313396    21.9
313397     6.5
313398     5.6
313399     5.0
Name: SECOND, Length: 313400, dtype: float64

In [143]:
df['SECOND'].map('{0:04.1f}'.format)

0         25.0
1         00.0
2         40.0
3         58.0
4         00.0
          ...
313395    07.4
313396    21.9
313397    06.5
313398    05.6
313399    05.0
Name: SECOND, Length: 313400, dtype: object

In [146]:
df['HOUR'].map('{0:02}'.format).astype(str) + \
    ':' + df['MINUTE'].map('{0:02}'.format) + \
        ':' + df['SECOND'].map('{0:04.1f}'.format) + 'Z'

0         23:30:25.0Z
1         16:00:00.0Z
2         08:14:40.0Z
3         03:49:58.0Z
4         04:21:00.0Z
             ...
313395    05:00:07.4Z
313396    05:00:21.9Z
313397    05:01:06.5Z
313398    05:02:05.6Z
313399    05:15:05.0Z
Length: 313400, dtype: object