In [23]:
import pandas
import datetime
import calendar

In [3]:
df = pandas.read_csv('quakes.csv')
df_schema = pandas.read_csv('schema.csv')

In [4]:
df

,YEAR,MONTH,DAY,HOUR,MINUTE,SECOND,LATITUDE,LONGITUDE,DEPTH,MAGNITUDE
0,1964,FEB,24,23,30,25.0,38.9000,23.9000,10,5.3
1,1964,APR,11,16,0,0.0,39.7500,25.2500,10,5.7
2,1964,APR,21,8,14,40.0,38.5000,22.2500,10,4.5
3,1964,APR,24,3,49,58.0,38.0000,21.8000,10,5.0
4,1964,APR,29,4,21,0.0,39.2500,23.7500,10,5.8
...,...,...,...,...,...,...,...,...,...,...
313395,2021,APR,9,5,0,7.4,39.7856,21.9081,5,0.6
313396,2021,APR,9,5,0,21.9,39.7920,21.9328,5,1.5
313397,2021,APR,9,5,1,6.5,39.7160,22.1947,8,1.0
313398,2021,APR,9,5,2,5.6,39.7929,21.9154,6,1.0
313399,2021,APR,9,5,15,5.0,39.8007,21.8948,7,1.2

In [5]:
df_schema

      COLUMN                   ATTRIBUTE
0       YEAR       event Date: Year XXXX
1      MONTH      event Date: Month abbr
2        DAY             event Date: Day
3       HOUR  event Time (GMT): Hour 24h
4     MINUTE    event Time (GMT): Minute
5     SECOND    event Time (GMT): Second
6   LATITUDE          event Latitude (N)
7  LONGITUDE         event Longitude (E)
8      DEPTH            event Depth (km)
9  MAGNITUDE          event Magnitude Mr

combine YEAR, MONTH, DAY to create DATE

In [12]:
df['YEAR'].astype(str) + '-' + df['MONTH'].astype(str) + '-' + df['DAY'].astype(str)

0         1964-FEB-24
1         1964-APR-11
2         1964-APR-21
3         1964-APR-24
4         1964-APR-29
             ...
313395     2021-APR-9
313396     2021-APR-9
313397     2021-APR-9
313398     2021-APR-9
313399     2021-APR-9
Length: 313400, dtype: object

In [57]:
numbers_as_months = dict(enumerate(list(calendar.month_abbr)))
numbers_as_months

{0: '',
 1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

In [71]:
months_as_numbers = {y:x for (x,y) in enumerate(list(calendar.month_abbr))}
months_as_numbers

{'': 0,
 'Jan': 1,
 'Feb': 2,
 'Mar': 3,
 'Apr': 4,
 'May': 5,
 'Jun': 6,
 'Jul': 7,
 'Aug': 8,
 'Sep': 9,
 'Oct': 10,
 'Nov': 11,
 'Dec': 12}

In [88]:
(df['MONTH'].str.title()).map({y:x for (x,y) in enumerate(list(calendar.month_abbr))})

0         2
1         4
2         4
3         4
4         4
         ..
313395    4
313396    4
313397    4
313398    4
313399    4
Name: MONTH, Length: 313400, dtype: int64

In [106]:
(df['MONTH'].str.title()).map({y:x for (x,y) in enumerate(list(calendar.month_abbr))}).map('{:02}'.format)

0         02
1         04
2         04
3         04
4         04
          ..
313395    04
313396    04
313397    04
313398    04
313399    04
Name: MONTH, Length: 313400, dtype: object

In [110]:
df['YEAR'].astype(str) + '-' + (((df['MONTH'].str.title()).map({y:x for (x,y) in enumerate(list(calendar.month_abbr))})).map('{0:02}'.format)).astype(str) + '-' + (df['DAY'].map('{0:02}'.format)).astype(str)

0         1964-02-24
1         1964-04-11
2         1964-04-21
3         1964-04-24
4         1964-04-29
             ...
313395    2021-04-09
313396    2021-04-09
313397    2021-04-09
313398    2021-04-09
313399    2021-04-09
Length: 313400, dtype: object

TypeError: unsupported format string passed to Series.__format__