In [185]:
import pandas

In [186]:
df = pandas.read_csv('full.csv')
df_schema = pandas.read_csv('schema.csv')

In [187]:
df

,YEAR,MONTH,DAY,HOUR,MINUTE,SECOND,LATITUDE,LONGITUDE,DEPTH,MAGNITUDE
0,1964,FEB,24,23,30,25.0,38.9000,23.9000,10,5.3
1,1964,APR,11,16,0,0.0,39.7500,25.2500,10,5.7
2,1964,APR,21,8,14,40.0,38.5000,22.2500,10,4.5
3,1964,APR,24,3,49,58.0,38.0000,21.8000,10,5.0
4,1964,APR,29,4,21,0.0,39.2500,23.7500,10,5.8
...,...,...,...,...,...,...,...,...,...,...
313395,2021,APR,9,5,0,7.4,39.7856,21.9081,5,0.6
313396,2021,APR,9,5,0,21.9,39.7920,21.9328,5,1.5
313397,2021,APR,9,5,1,6.5,39.7160,22.1947,8,1.0
313398,2021,APR,9,5,2,5.6,39.7929,21.9154,6,1.0
313399,2021,APR,9,5,15,5.0,39.8007,21.8948,7,1.2

In [188]:
df_schema

      COLUMN                   ATTRIBUTE
0       YEAR       event Date: Year XXXX
1      MONTH      event Date: Month abbr
2        DAY             event Date: Day
3       HOUR  event Time (GMT): Hour 24h
4     MINUTE    event Time (GMT): Minute
5     SECOND    event Time (GMT): Second
6   LATITUDE          event Latitude (N)
7  LONGITUDE         event Longitude (E)
8      DEPTH            event Depth (km)
9  MAGNITUDE          event Magnitude Mr

## HOW TO UPDATE

update columns

In [189]:
df.columns

Index(['YEAR', 'MONTH', 'DAY', 'HOUR', 'MINUTE', 'SECOND', 'LATITUDE',
       'LONGITUDE', 'DEPTH', 'MAGNITUDE'],
      dtype='object')

how to rename all columns: pass a list 


and now, just one?

In [190]:
df.columns = [x.lower() for x in df.columns]

In [191]:
df

,year,month,day,hour,minute,second,latitude,longitude,depth,magnitude
0,1964,FEB,24,23,30,25.0,38.9000,23.9000,10,5.3
1,1964,APR,11,16,0,0.0,39.7500,25.2500,10,5.7
2,1964,APR,21,8,14,40.0,38.5000,22.2500,10,4.5
3,1964,APR,24,3,49,58.0,38.0000,21.8000,10,5.0
4,1964,APR,29,4,21,0.0,39.2500,23.7500,10,5.8
...,...,...,...,...,...,...,...,...,...,...
313395,2021,APR,9,5,0,7.4,39.7856,21.9081,5,0.6
313396,2021,APR,9,5,0,21.9,39.7920,21.9328,5,1.5
313397,2021,APR,9,5,1,6.5,39.7160,22.1947,8,1.0
313398,2021,APR,9,5,2,5.6,39.7929,21.9154,6,1.0
313399,2021,APR,9,5,15,5.0,39.8007,21.8948,7,1.2

In [192]:
df.columns = [x.upper() for x in df.columns]

In [193]:
df

,YEAR,MONTH,DAY,HOUR,MINUTE,SECOND,LATITUDE,LONGITUDE,DEPTH,MAGNITUDE
0,1964,FEB,24,23,30,25.0,38.9000,23.9000,10,5.3
1,1964,APR,11,16,0,0.0,39.7500,25.2500,10,5.7
2,1964,APR,21,8,14,40.0,38.5000,22.2500,10,4.5
3,1964,APR,24,3,49,58.0,38.0000,21.8000,10,5.0
4,1964,APR,29,4,21,0.0,39.2500,23.7500,10,5.8
...,...,...,...,...,...,...,...,...,...,...
313395,2021,APR,9,5,0,7.4,39.7856,21.9081,5,0.6
313396,2021,APR,9,5,0,21.9,39.7920,21.9328,5,1.5
313397,2021,APR,9,5,1,6.5,39.7160,22.1947,8,1.0
313398,2021,APR,9,5,2,5.6,39.7929,21.9154,6,1.0
313399,2021,APR,9,5,15,5.0,39.8007,21.8948,7,1.2

In [194]:
df.columns = df.columns.str.replace('Y', 'y')
df

,yEAR,MONTH,DAy,HOUR,MINUTE,SECOND,LATITUDE,LONGITUDE,DEPTH,MAGNITUDE
0,1964,FEB,24,23,30,25.0,38.9000,23.9000,10,5.3
1,1964,APR,11,16,0,0.0,39.7500,25.2500,10,5.7
2,1964,APR,21,8,14,40.0,38.5000,22.2500,10,4.5
3,1964,APR,24,3,49,58.0,38.0000,21.8000,10,5.0
4,1964,APR,29,4,21,0.0,39.2500,23.7500,10,5.8
...,...,...,...,...,...,...,...,...,...,...
313395,2021,APR,9,5,0,7.4,39.7856,21.9081,5,0.6
313396,2021,APR,9,5,0,21.9,39.7920,21.9328,5,1.5
313397,2021,APR,9,5,1,6.5,39.7160,22.1947,8,1.0
313398,2021,APR,9,5,2,5.6,39.7929,21.9154,6,1.0
313399,2021,APR,9,5,15,5.0,39.8007,21.8948,7,1.2

In [195]:
df.columns = [x.upper() for x in df.columns]

In [196]:
df

,YEAR,MONTH,DAY,HOUR,MINUTE,SECOND,LATITUDE,LONGITUDE,DEPTH,MAGNITUDE
0,1964,FEB,24,23,30,25.0,38.9000,23.9000,10,5.3
1,1964,APR,11,16,0,0.0,39.7500,25.2500,10,5.7
2,1964,APR,21,8,14,40.0,38.5000,22.2500,10,4.5
3,1964,APR,24,3,49,58.0,38.0000,21.8000,10,5.0
4,1964,APR,29,4,21,0.0,39.2500,23.7500,10,5.8
...,...,...,...,...,...,...,...,...,...,...
313395,2021,APR,9,5,0,7.4,39.7856,21.9081,5,0.6
313396,2021,APR,9,5,0,21.9,39.7920,21.9328,5,1.5
313397,2021,APR,9,5,1,6.5,39.7160,22.1947,8,1.0
313398,2021,APR,9,5,2,5.6,39.7929,21.9154,6,1.0
313399,2021,APR,9,5,15,5.0,39.8007,21.8948,7,1.2

In [197]:
df.rename(colummns = {'DAY': 'WEEKDAY'})

TypeError: rename() got an unexpected keyword argument 'colummns'

In [15]:
df.iloc[0]

YEAR         1964
MONTH         FEB
DAY            24
HOUR           23
MINUTE         30
SECOND         25
LATITUDE     38.9
LONGITUDE    23.9
DEPTH          10
MAGNITUDE     5.3
Name: 0, dtype: object

In [32]:
df.iloc[0] = ['1962', 'ARP', '24', '23', '30', '25', '38.9', '23,9', '10', '5.3']

In [33]:
df

        YEAR MONTH DAY HOUR MINUTE SECOND LATITUDE LONGITUDE DEPTH MAGNITUDE
0       1962   ARP  24   23     30     25     38.9      23,9    10       5.3
1       1964   APR  11   16      0      0    39.75     25.25    10       5.7
2       1964   APR  21    8     14     40     38.5     22.25    10       4.5
3       1964   APR  24    3     49     58       38      21.8    10         5
4       1964   APR  29    4     21      0    39.25     23.75    10       5.8
...      ...   ...  ..  ...    ...    ...      ...       ...   ...       ...
313395  2021   APR   9    5      0    7.4  39.7856   21.9081     5       0.6
313396  2021   APR   9    5      0   21.9   39.792   21.9328     5       1.5
313397  2021   APR   9    5      1    6.5   39.716   22.1947     8         1
313398  2021   APR   9    5      2    5.6  39.7929   21.9154     6         1
313399  2021   APR   9    5     15      5  39.8007   21.8948     7       1.2

[313400 rows x 10 columns]

In [34]:
df.iloc[0] = ['1962', 'FEB', '24', '23', '30', '25', '38.9', '23,9', '10', '5.3']

In [35]:
df

        YEAR MONTH DAY HOUR MINUTE SECOND LATITUDE LONGITUDE DEPTH MAGNITUDE
0       1962   FEB  24   23     30     25     38.9      23,9    10       5.3
1       1964   APR  11   16      0      0    39.75     25.25    10       5.7
2       1964   APR  21    8     14     40     38.5     22.25    10       4.5
3       1964   APR  24    3     49     58       38      21.8    10         5
4       1964   APR  29    4     21      0    39.25     23.75    10       5.8
...      ...   ...  ..  ...    ...    ...      ...       ...   ...       ...
313395  2021   APR   9    5      0    7.4  39.7856   21.9081     5       0.6
313396  2021   APR   9    5      0   21.9   39.792   21.9328     5       1.5
313397  2021   APR   9    5      1    6.5   39.716   22.1947     8         1
313398  2021   APR   9    5      2    5.6  39.7929   21.9154     6         1
313399  2021   APR   9    5     15      5  39.8007   21.8948     7       1.2

[313400 rows x 10 columns]

but what if not all values?

In [36]:
df.loc[0, 'MONTH']

'FEB'

In [37]:
df.loc[0, 'MONTH'] = 'APR'

In [38]:
df

        YEAR MONTH DAY HOUR MINUTE SECOND LATITUDE LONGITUDE DEPTH MAGNITUDE
0       1962   APR  24   23     30     25     38.9      23,9    10       5.3
1       1964   APR  11   16      0      0    39.75     25.25    10       5.7
2       1964   APR  21    8     14     40     38.5     22.25    10       4.5
3       1964   APR  24    3     49     58       38      21.8    10         5
4       1964   APR  29    4     21      0    39.25     23.75    10       5.8
...      ...   ...  ..  ...    ...    ...      ...       ...   ...       ...
313395  2021   APR   9    5      0    7.4  39.7856   21.9081     5       0.6
313396  2021   APR   9    5      0   21.9   39.792   21.9328     5       1.5
313397  2021   APR   9    5      1    6.5   39.716   22.1947     8         1
313398  2021   APR   9    5      2    5.6  39.7929   21.9154     6         1
313399  2021   APR   9    5     15      5  39.8007   21.8948     7       1.2

[313400 rows x 10 columns]

In [39]:
df.loc[0, 'MONTH'] = 'FEB'

In [40]:
df

        YEAR MONTH DAY HOUR MINUTE SECOND LATITUDE LONGITUDE DEPTH MAGNITUDE
0       1962   FEB  24   23     30     25     38.9      23,9    10       5.3
1       1964   APR  11   16      0      0    39.75     25.25    10       5.7
2       1964   APR  21    8     14     40     38.5     22.25    10       4.5
3       1964   APR  24    3     49     58       38      21.8    10         5
4       1964   APR  29    4     21      0    39.25     23.75    10       5.8
...      ...   ...  ..  ...    ...    ...      ...       ...   ...       ...
313395  2021   APR   9    5      0    7.4  39.7856   21.9081     5       0.6
313396  2021   APR   9    5      0   21.9   39.792   21.9328     5       1.5
313397  2021   APR   9    5      1    6.5   39.716   22.1947     8         1
313398  2021   APR   9    5      2    5.6  39.7929   21.9154     6         1
313399  2021   APR   9    5     15      5  39.8007   21.8948     7       1.2

[313400 rows x 10 columns]

In [41]:
df.at[0, 'MONTH']

'FEB'

at: is for SINGLE values!

now change all months abbrs to be lower cases

first, grab the months:

In [44]:
df

        YEAR MONTH DAY HOUR MINUTE SECOND LATITUDE LONGITUDE DEPTH MAGNITUDE
0       1962   FEB  24   23     30     25     38.9      23,9    10       5.3
1       1964   APR  11   16      0      0    39.75     25.25    10       5.7
2       1964   APR  21    8     14     40     38.5     22.25    10       4.5
3       1964   APR  24    3     49     58       38      21.8    10         5
4       1964   APR  29    4     21      0    39.25     23.75    10       5.8
...      ...   ...  ..  ...    ...    ...      ...       ...   ...       ...
313395  2021   APR   9    5      0    7.4  39.7856   21.9081     5       0.6
313396  2021   APR   9    5      0   21.9   39.792   21.9328     5       1.5
313397  2021   APR   9    5      1    6.5   39.716   22.1947     8         1
313398  2021   APR   9    5      2    5.6  39.7929   21.9154     6         1
313399  2021   APR   9    5     15      5  39.8007   21.8948     7       1.2

[313400 rows x 10 columns]

In [46]:
df.columns

Index(['YEAR', 'MONTH', 'DAY', 'HOUR', 'MINUTE', 'SECOND', 'LATITUDE',
       'LONGITUDE', 'DEPTH', 'MAGNITUDE'],
      dtype='object')

In [47]:
df['MONTH']

0         FEB
1         APR
2         APR
3         APR
4         APR
         ...
313395    APR
313396    APR
313397    APR
313398    APR
313399    APR
Name: MONTH, Length: 313400, dtype: object

In [48]:
df['MONTH'] = df['MONTH'].str.lower()

In [49]:
df

        YEAR MONTH DAY HOUR MINUTE SECOND LATITUDE LONGITUDE DEPTH MAGNITUDE
0       1962   feb  24   23     30     25     38.9      23,9    10       5.3
1       1964   apr  11   16      0      0    39.75     25.25    10       5.7
2       1964   apr  21    8     14     40     38.5     22.25    10       4.5
3       1964   apr  24    3     49     58       38      21.8    10         5
4       1964   apr  29    4     21      0    39.25     23.75    10       5.8
...      ...   ...  ..  ...    ...    ...      ...       ...   ...       ...
313395  2021   apr   9    5      0    7.4  39.7856   21.9081     5       0.6
313396  2021   apr   9    5      0   21.9   39.792   21.9328     5       1.5
313397  2021   apr   9    5      1    6.5   39.716   22.1947     8         1
313398  2021   apr   9    5      2    5.6  39.7929   21.9154     6         1
313399  2021   apr   9    5     15      5  39.8007   21.8948     7       1.2

[313400 rows x 10 columns]

In [50]:
df['MONTH'] = df['MONTH'].str.upper()

In [51]:
df

        YEAR MONTH DAY HOUR MINUTE SECOND LATITUDE LONGITUDE DEPTH MAGNITUDE
0       1962   FEB  24   23     30     25     38.9      23,9    10       5.3
1       1964   APR  11   16      0      0    39.75     25.25    10       5.7
2       1964   APR  21    8     14     40     38.5     22.25    10       4.5
3       1964   APR  24    3     49     58       38      21.8    10         5
4       1964   APR  29    4     21      0    39.25     23.75    10       5.8
...      ...   ...  ..  ...    ...    ...      ...       ...   ...       ...
313395  2021   APR   9    5      0    7.4  39.7856   21.9081     5       0.6
313396  2021   APR   9    5      0   21.9   39.792   21.9328     5       1.5
313397  2021   APR   9    5      1    6.5   39.716   22.1947     8         1
313398  2021   APR   9    5      2    5.6  39.7929   21.9154     6         1
313399  2021   APR   9    5     15      5  39.8007   21.8948     7       1.2

[313400 rows x 10 columns]

### apply 
apply to every value

In [53]:
df['MONTH'].apply(str.lower)

0         feb
1         apr
2         apr
3         apr
4         apr
         ...
313395    apr
313396    apr
313397    apr
313398    apr
313399    apr
Name: MONTH, Length: 313400, dtype: object

In [54]:
df

        YEAR MONTH DAY HOUR MINUTE SECOND LATITUDE LONGITUDE DEPTH MAGNITUDE
0       1962   FEB  24   23     30     25     38.9      23,9    10       5.3
1       1964   APR  11   16      0      0    39.75     25.25    10       5.7
2       1964   APR  21    8     14     40     38.5     22.25    10       4.5
3       1964   APR  24    3     49     58       38      21.8    10         5
4       1964   APR  29    4     21      0    39.25     23.75    10       5.8
...      ...   ...  ..  ...    ...    ...      ...       ...   ...       ...
313395  2021   APR   9    5      0    7.4  39.7856   21.9081     5       0.6
313396  2021   APR   9    5      0   21.9   39.792   21.9328     5       1.5
313397  2021   APR   9    5      1    6.5   39.716   22.1947     8         1
313398  2021   APR   9    5      2    5.6  39.7929   21.9154     6         1
313399  2021   APR   9    5     15      5  39.8007   21.8948     7       1.2

[313400 rows x 10 columns]

In [55]:
df["MONTH"] = df['MONTH'].apply(str.lower)

In [56]:
df

        YEAR MONTH DAY HOUR MINUTE SECOND LATITUDE LONGITUDE DEPTH MAGNITUDE
0       1962   feb  24   23     30     25     38.9      23,9    10       5.3
1       1964   apr  11   16      0      0    39.75     25.25    10       5.7
2       1964   apr  21    8     14     40     38.5     22.25    10       4.5
3       1964   apr  24    3     49     58       38      21.8    10         5
4       1964   apr  29    4     21      0    39.25     23.75    10       5.8
...      ...   ...  ..  ...    ...    ...      ...       ...   ...       ...
313395  2021   apr   9    5      0    7.4  39.7856   21.9081     5       0.6
313396  2021   apr   9    5      0   21.9   39.792   21.9328     5       1.5
313397  2021   apr   9    5      1    6.5   39.716   22.1947     8         1
313398  2021   apr   9    5      2    5.6  39.7929   21.9154     6         1
313399  2021   apr   9    5     15      5  39.8007   21.8948     7       1.2

[313400 rows x 10 columns]

In [57]:
df['MONTH'] = df['MONTH'].apply(str.upper)

In [58]:
df

        YEAR MONTH DAY HOUR MINUTE SECOND LATITUDE LONGITUDE DEPTH MAGNITUDE
0       1962   FEB  24   23     30     25     38.9      23,9    10       5.3
1       1964   APR  11   16      0      0    39.75     25.25    10       5.7
2       1964   APR  21    8     14     40     38.5     22.25    10       4.5
3       1964   APR  24    3     49     58       38      21.8    10         5
4       1964   APR  29    4     21      0    39.25     23.75    10       5.8
...      ...   ...  ..  ...    ...    ...      ...       ...   ...       ...
313395  2021   APR   9    5      0    7.4  39.7856   21.9081     5       0.6
313396  2021   APR   9    5      0   21.9   39.792   21.9328     5       1.5
313397  2021   APR   9    5      1    6.5   39.716   22.1947     8         1
313398  2021   APR   9    5      2    5.6  39.7929   21.9154     6         1
313399  2021   APR   9    5     15      5  39.8007   21.8948     7       1.2

[313400 rows x 10 columns]

In [59]:
df['MONTH'].apply(len)

0         3
1         3
2         3
3         3
4         3
         ..
313395    3
313396    3
313397    3
313398    3
313399    3
Name: MONTH, Length: 313400, dtype: int64

In [60]:
def month_to_uppercase(month):
    return month.upper()
def month_to_lowercase(month):
    return month.lower()

In [62]:
df['MONTH'].apply(month_to_lowercase)

0         feb
1         apr
2         apr
3         apr
4         apr
         ...
313395    apr
313396    apr
313397    apr
313398    apr
313399    apr
Name: MONTH, Length: 313400, dtype: object

In [63]:
df['MONTH'].apply(lambda x: x.upper())

0         FEB
1         APR
2         APR
3         APR
4         APR
         ...
313395    APR
313396    APR
313397    APR
313398    APR
313399    APR
Name: MONTH, Length: 313400, dtype: object

In [74]:
df['MAGNITUDE'].apply(lambda x: float(x) + 0.5)

0         5.8
1         6.2
2         5.0
3         5.5
4         6.3
         ...
313395    1.1
313396    2.0
313397    1.5
313398    1.5
313399    1.7
Name: MAGNITUDE, Length: 313400, dtype: float64

In [78]:
df['MAGNITUDE'].apply(lambda x: float(x) - 0.5)

0         4.8
1         5.2
2         4.0
3         4.5
4         5.3
         ...
313395    0.1
313396    1.0
313397    0.5
313398    0.5
313399    0.7
Name: MAGNITUDE, Length: 313400, dtype: float64

In [79]:
type(df['MAGNITUDE'])

pandas.core.series.Series

In [80]:
df.columns

Index(['YEAR', 'MONTH', 'DAY', 'HOUR', 'MINUTE', 'SECOND', 'LATITUDE',
       'LONGITUDE', 'DEPTH', 'MAGNITUDE'],
      dtype='object')

In [82]:
df.columns[1]

'MONTH'

In [83]:
df['MAGNITUDE']

0         5.3
1         5.7
2         4.5
3           5
4         5.8
         ...
313395    0.6
313396    1.5
313397      1
313398      1
313399    1.2
Name: MAGNITUDE, Length: 313400, dtype: object

In [84]:
c

0         5.8
1         6.2
2         5.0
3         5.5
4         6.3
         ...
313395    1.1
313396    2.0
313397    1.5
313398    1.5
313399    1.7
Name: MAGNITUDE, Length: 313400, dtype: float64

In [85]:
df['MAGNITUDE'].apply(lambda x: float(x)-float(0.5))

0         4.8
1         5.2
2         4.0
3         4.5
4         5.3
         ...
313395    0.1
313396    1.0
313397    0.5
313398    0.5
313399    0.7
Name: MAGNITUDE, Length: 313400, dtype: float64

In [86]:
df['MAGNITUDE'] = df['MAGNITUDE'].apply(lambda x: float(x)+float(0.5))

In [87]:
df

        YEAR MONTH DAY HOUR MINUTE SECOND LATITUDE LONGITUDE DEPTH  MAGNITUDE
0       1962   FEB  24   23     30     25     38.9      23,9    10        5.8
1       1964   APR  11   16      0      0    39.75     25.25    10        6.2
2       1964   APR  21    8     14     40     38.5     22.25    10        5.0
3       1964   APR  24    3     49     58       38      21.8    10        5.5
4       1964   APR  29    4     21      0    39.25     23.75    10        6.3
...      ...   ...  ..  ...    ...    ...      ...       ...   ...        ...
313395  2021   APR   9    5      0    7.4  39.7856   21.9081     5        1.1
313396  2021   APR   9    5      0   21.9   39.792   21.9328     5        2.0
313397  2021   APR   9    5      1    6.5   39.716   22.1947     8        1.5
313398  2021   APR   9    5      2    5.6  39.7929   21.9154     6        1.5
313399  2021   APR   9    5     15      5  39.8007   21.8948     7        1.7

[313400 rows x 10 columns]

In [88]:
df['MAGNITUDE'] = df['MAGNITUDE'].apply(lambda x: float(x)-float(0.5))

In [89]:
df

        YEAR MONTH DAY HOUR MINUTE SECOND LATITUDE LONGITUDE DEPTH  MAGNITUDE
0       1962   FEB  24   23     30     25     38.9      23,9    10        5.3
1       1964   APR  11   16      0      0    39.75     25.25    10        5.7
2       1964   APR  21    8     14     40     38.5     22.25    10        4.5
3       1964   APR  24    3     49     58       38      21.8    10        5.0
4       1964   APR  29    4     21      0    39.25     23.75    10        5.8
...      ...   ...  ..  ...    ...    ...      ...       ...   ...        ...
313395  2021   APR   9    5      0    7.4  39.7856   21.9081     5        0.6
313396  2021   APR   9    5      0   21.9   39.792   21.9328     5        1.5
313397  2021   APR   9    5      1    6.5   39.716   22.1947     8        1.0
313398  2021   APR   9    5      2    5.6  39.7929   21.9154     6        1.0
313399  2021   APR   9    5     15      5  39.8007   21.8948     7        1.2

[313400 rows x 10 columns]

In [90]:
df.apply(len)

YEAR         313400
MONTH        313400
DAY          313400
HOUR         313400
MINUTE       313400
SECOND       313400
LATITUDE     313400
LONGITUDE    313400
DEPTH        313400
MAGNITUDE    313400
dtype: int64

In [92]:
df.apply(len, axis='columns')

0         10
1         10
2         10
3         10
4         10
          ..
313395    10
313396    10
313397    10
313398    10
313399    10
Length: 313400, dtype: int64

In [110]:
df

        YEAR MONTH DAY HOUR MINUTE SECOND LATITUDE LONGITUDE DEPTH  MAGNITUDE
0       1962   FEB  24   23     30     25     38.9      23,9    10        5.3
1       1964   APR  11   16      0      0    39.75     25.25    10        5.7
2       1964   APR  21    8     14     40     38.5     22.25    10        4.5
3       1964   APR  24    3     49     58       38      21.8    10        5.0
4       1964   APR  29    4     21      0    39.25     23.75    10        5.8
...      ...   ...  ..  ...    ...    ...      ...       ...   ...        ...
313395  2021   APR   9    5      0    7.4  39.7856   21.9081     5        0.6
313396  2021   APR   9    5      0   21.9   39.792   21.9328     5        1.5
313397  2021   APR   9    5      1    6.5   39.716   22.1947     8        1.0
313398  2021   APR   9    5      2    5.6  39.7929   21.9154     6        1.0
313399  2021   APR   9    5     15      5  39.8007   21.8948     7        1.2

[313400 rows x 10 columns]

In [111]:
df_schema.applymap(len)

   COLUMN  ATTRIBUTE
0       4         21
1       5         22
2       3         15
3       4         26
4       6         24
5       6         24
6       8         18
7       9         19
8       5         16
9       9         18

In [112]:
df.applymap(len)

TypeError: object of type 'int' has no len()

In [113]:
df_schema

      COLUMN                   ATTRIBUTE
0       YEAR       event Date: Year XXXX
1      MONTH      event Date: Month abbr
2        DAY             event Date: Day
3       HOUR  event Time (GMT): Hour 24h
4     MINUTE    event Time (GMT): Minute
5     SECOND    event Time (GMT): Second
6   LATITUDE          event Latitude (N)
7  LONGITUDE         event Longitude (E)
8      DEPTH            event Depth (km)
9  MAGNITUDE          event Magnitude Mr

In [114]:
df_schema.apply(len)

COLUMN       10
ATTRIBUTE    10
dtype: int64

In [116]:
df_schema.apply(len, axis='columns')

0    2
1    2
2    2
3    2
4    2
5    2
6    2
7    2
8    2
9    2
dtype: int64

In [117]:
df_sc

NameError: name 'df_sc' is not defined

In [120]:
df_schema.apply(pandas.Series.min)

COLUMN                   DAY
ATTRIBUTE    event Date: Day
dtype: object

In [121]:
df.shape

(313400, 10)

In [122]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 313400 entries, 0 to 313399
Data columns (total 10 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   YEAR       313400 non-null  object
 1   MONTH      313400 non-null  object
 2   DAY        313400 non-null  object
 3   HOUR       313400 non-null  object
 4   MINUTE     313400 non-null  object
 5   SECOND     313400 non-null  object
 6   LATITUDE   313400 non-null  object
 7   LONGITUDE  313400 non-null  object
 8   DEPTH      313400 non-null  object
 9   MAGNITUDE  313400 non-null  float64
dtypes: float64(1), object(9)
memory usage: 23.9+ MB

In [127]:
df.apply(pandas.min)

AttributeError: module 'pandas' has no attribute 'min'

In [128]:
df.applymap(len)

TypeError: object of type 'int' has no len()

In [129]:
df

        YEAR MONTH DAY HOUR MINUTE SECOND LATITUDE LONGITUDE DEPTH  MAGNITUDE
0       1962   FEB  24   23     30     25     38.9      23,9    10        5.3
1       1964   APR  11   16      0      0    39.75     25.25    10        5.7
2       1964   APR  21    8     14     40     38.5     22.25    10        4.5
3       1964   APR  24    3     49     58       38      21.8    10        5.0
4       1964   APR  29    4     21      0    39.25     23.75    10        5.8
...      ...   ...  ..  ...    ...    ...      ...       ...   ...        ...
313395  2021   APR   9    5      0    7.4  39.7856   21.9081     5        0.6
313396  2021   APR   9    5      0   21.9   39.792   21.9328     5        1.5
313397  2021   APR   9    5      1    6.5   39.716   22.1947     8        1.0
313398  2021   APR   9    5      2    5.6  39.7929   21.9154     6        1.0
313399  2021   APR   9    5     15      5  39.8007   21.8948     7        1.2

[313400 rows x 10 columns]

In [130]:
df.applymap(len)

TypeError: object of type 'int' has no len()

In [131]:
df.head().applymap(len)

TypeError: object of type 'int' has no len()

In [132]:
df.head()

   YEAR MONTH DAY HOUR MINUTE SECOND LATITUDE LONGITUDE DEPTH  MAGNITUDE
0  1962   FEB  24   23     30     25     38.9      23,9    10        5.3
1  1964   APR  11   16      0      0    39.75     25.25    10        5.7
2  1964   APR  21    8     14     40     38.5     22.25    10        4.5
3  1964   APR  24    3     49     58       38      21.8    10        5.0
4  1964   APR  29    4     21      0    39.25     23.75    10        5.8

In [133]:
(df.head()).applymap(len)

TypeError: object of type 'int' has no len()

In [134]:
df_schema.map({'DAY': 'WEEKDAY'})

AttributeError: 'DataFrame' object has no attribute 'map'

In [137]:
df_schema['COLUMN'].map({'DAY': 'WEEKDAY'})

0        NaN
1        NaN
2    WEEKDAY
3        NaN
4        NaN
5        NaN
6        NaN
7        NaN
8        NaN
9        NaN
Name: COLUMN, dtype: object

      COLUMN                   ATTRIBUTE
0       YEAR       event Date: Year XXXX
1      MONTH      event Date: Month abbr
2        DAY             event Date: Day
3       HOUR  event Time (GMT): Hour 24h
4     MINUTE    event Time (GMT): Minute
5     SECOND    event Time (GMT): Second
6   LATITUDE          event Latitude (N)
7  LONGITUDE         event Longitude (E)
8      DEPTH            event Depth (km)
9  MAGNITUDE          event Magnitude Mr

In [139]:
df

        YEAR MONTH DAY HOUR MINUTE SECOND LATITUDE LONGITUDE DEPTH  MAGNITUDE
0       1962   FEB  24   23     30     25     38.9      23,9    10        5.3
1       1964   APR  11   16      0      0    39.75     25.25    10        5.7
2       1964   APR  21    8     14     40     38.5     22.25    10        4.5
3       1964   APR  24    3     49     58       38      21.8    10        5.0
4       1964   APR  29    4     21      0    39.25     23.75    10        5.8
...      ...   ...  ..  ...    ...    ...      ...       ...   ...        ...
313395  2021   APR   9    5      0    7.4  39.7856   21.9081     5        0.6
313396  2021   APR   9    5      0   21.9   39.792   21.9328     5        1.5
313397  2021   APR   9    5      1    6.5   39.716   22.1947     8        1.0
313398  2021   APR   9    5      2    5.6  39.7929   21.9154     6        1.0
313399  2021   APR   9    5     15      5  39.8007   21.8948     7        1.2

[313400 rows x 10 columns]

In [140]:
df[1]

KeyError: 1

In [141]:
df.columns[1]

'MONTH'

In [142]:
df.columns[2] = 'WEEKDAY'

TypeError: Index does not support mutable operations

In [143]:
df.rename()

TypeError: must pass an index to rename

In [144]:
df.rename(columns={'DAY':'WEEKDAY'})

,YEAR,MONTH,WEEKDAY,HOUR,MINUTE,SECOND,LATITUDE,LONGITUDE,DEPTH,MAGNITUDE
0,1962,FEB,24,23,30,25,38.9,"23,9",10,5.3
1,1964,APR,11,16,0,0,39.75,25.25,10,5.7
2,1964,APR,21,8,14,40,38.5,22.25,10,4.5
3,1964,APR,24,3,49,58,38,21.8,10,5.0
4,1964,APR,29,4,21,0,39.25,23.75,10,5.8
...,...,...,...,...,...,...,...,...,...,...
313395,2021,APR,9,5,0,7.4,39.7856,21.9081,5,0.6
313396,2021,APR,9,5,0,21.9,39.792,21.9328,5,1.5
313397,2021,APR,9,5,1,6.5,39.716,22.1947,8,1.0
313398,2021,APR,9,5,2,5.6,39.7929,21.9154,6,1.0
313399,2021,APR,9,5,15,5,39.8007,21.8948,7,1.2

In [145]:
df.rename(columns={'WEEKDAY':'DAY'})

        YEAR MONTH DAY HOUR MINUTE SECOND LATITUDE LONGITUDE DEPTH  MAGNITUDE
0       1962   FEB  24   23     30     25     38.9      23,9    10        5.3
1       1964   APR  11   16      0      0    39.75     25.25    10        5.7
2       1964   APR  21    8     14     40     38.5     22.25    10        4.5
3       1964   APR  24    3     49     58       38      21.8    10        5.0
4       1964   APR  29    4     21      0    39.25     23.75    10        5.8
...      ...   ...  ..  ...    ...    ...      ...       ...   ...        ...
313395  2021   APR   9    5      0    7.4  39.7856   21.9081     5        0.6
313396  2021   APR   9    5      0   21.9   39.792   21.9328     5        1.5
313397  2021   APR   9    5      1    6.5   39.716   22.1947     8        1.0
313398  2021   APR   9    5      2    5.6  39.7929   21.9154     6        1.0
313399  2021   APR   9    5     15      5  39.8007   21.8948     7        1.2

[313400 rows x 10 columns]

In [146]:
months_as_numbers = {'JAN':1, 'FEB':2, 'MAR':3, 'APR':4, 'MAY':5, 'JUN':6, 'JUL':7, 'AUG':8, 'SEP':9, 'OCT':10, 'NOV':11, 'DEC':12}

In [149]:
months_as_numbers

{'JAN': 1,
 'FEB': 2,
 'MAR': 3,
 'APR': 4,
 'MAY': 5,
 'JUN': 6,
 'JUL': 7,
 'AUG': 8,
 'SEP': 9,
 'OCT': 10,
 'NOV': 11,
 'DEC': 12}

In [150]:
df['MONTHS']

KeyError: 'MONTHS'

In [151]:
df

        YEAR MONTH DAY HOUR MINUTE SECOND LATITUDE LONGITUDE DEPTH  MAGNITUDE
0       1962   FEB  24   23     30     25     38.9      23,9    10        5.3
1       1964   APR  11   16      0      0    39.75     25.25    10        5.7
2       1964   APR  21    8     14     40     38.5     22.25    10        4.5
3       1964   APR  24    3     49     58       38      21.8    10        5.0
4       1964   APR  29    4     21      0    39.25     23.75    10        5.8
...      ...   ...  ..  ...    ...    ...      ...       ...   ...        ...
313395  2021   APR   9    5      0    7.4  39.7856   21.9081     5        0.6
313396  2021   APR   9    5      0   21.9   39.792   21.9328     5        1.5
313397  2021   APR   9    5      1    6.5   39.716   22.1947     8        1.0
313398  2021   APR   9    5      2    5.6  39.7929   21.9154     6        1.0
313399  2021   APR   9    5     15      5  39.8007   21.8948     7        1.2

[313400 rows x 10 columns]

In [152]:
df['MONTH'].map(months_as_numbers)

0         2
1         4
2         4
3         4
4         4
         ..
313395    4
313396    4
313397    4
313398    4
313399    4
Name: MONTH, Length: 313400, dtype: int64

In [153]:
df

        YEAR MONTH DAY HOUR MINUTE SECOND LATITUDE LONGITUDE DEPTH  MAGNITUDE
0       1962   FEB  24   23     30     25     38.9      23,9    10        5.3
1       1964   APR  11   16      0      0    39.75     25.25    10        5.7
2       1964   APR  21    8     14     40     38.5     22.25    10        4.5
3       1964   APR  24    3     49     58       38      21.8    10        5.0
4       1964   APR  29    4     21      0    39.25     23.75    10        5.8
...      ...   ...  ..  ...    ...    ...      ...       ...   ...        ...
313395  2021   APR   9    5      0    7.4  39.7856   21.9081     5        0.6
313396  2021   APR   9    5      0   21.9   39.792   21.9328     5        1.5
313397  2021   APR   9    5      1    6.5   39.716   22.1947     8        1.0
313398  2021   APR   9    5      2    5.6  39.7929   21.9154     6        1.0
313399  2021   APR   9    5     15      5  39.8007   21.8948     7        1.2

[313400 rows x 10 columns]

In [154]:
df['MONTH'] = df['MONTH'].map(months_as_numbers)

In [155]:
df

        YEAR  MONTH DAY HOUR MINUTE SECOND LATITUDE LONGITUDE DEPTH  MAGNITUDE
0       1962      2  24   23     30     25     38.9      23,9    10        5.3
1       1964      4  11   16      0      0    39.75     25.25    10        5.7
2       1964      4  21    8     14     40     38.5     22.25    10        4.5
3       1964      4  24    3     49     58       38      21.8    10        5.0
4       1964      4  29    4     21      0    39.25     23.75    10        5.8
...      ...    ...  ..  ...    ...    ...      ...       ...   ...        ...
313395  2021      4   9    5      0    7.4  39.7856   21.9081     5        0.6
313396  2021      4   9    5      0   21.9   39.792   21.9328     5        1.5
313397  2021      4   9    5      1    6.5   39.716   22.1947     8        1.0
313398  2021      4   9    5      2    5.6  39.7929   21.9154     6        1.0
313399  2021      4   9    5     15      5  39.8007   21.8948     7        1.2

[313400 rows x 10 columns]

In [166]:
df['MONTH'].map('{:02}'.format)

0         02
1         04
2         04
3         04
4         04
          ..
313395    04
313396    04
313397    04
313398    04
313399    04
Name: MONTH, Length: 313400, dtype: object

In [184]:
df['MONTH'] = df['MONTH'].map('{:02}'.format)

ValueError: '=' alignment not allowed in string format specifier

In [183]:
df

        YEAR MONTH DAY HOUR MINUTE SECOND LATITUDE LONGITUDE DEPTH  MAGNITUDE
0       1962    02  24   23     30     25     38.9      23,9    10        5.3
1       1964    04  11   16      0      0    39.75     25.25    10        5.7
2       1964    04  21    8     14     40     38.5     22.25    10        4.5
3       1964    04  24    3     49     58       38      21.8    10        5.0
4       1964    04  29    4     21      0    39.25     23.75    10        5.8
...      ...   ...  ..  ...    ...    ...      ...       ...   ...        ...
313395  2021    04   9    5      0    7.4  39.7856   21.9081     5        0.6
313396  2021    04   9    5      0   21.9   39.792   21.9328     5        1.5
313397  2021    04   9    5      1    6.5   39.716   22.1947     8        1.0
313398  2021    04   9    5      2    5.6  39.7929   21.9154     6        1.0
313399  2021    04   9    5     15      5  39.8007   21.8948     7        1.2

[313400 rows x 10 columns]

In [175]:
df['MINUTE'].map("{:02}".format).astype(str)

ValueError: '=' alignment not allowed in string format specifier

In [176]:
df

        YEAR MONTH DAY HOUR MINUTE SECOND LATITUDE LONGITUDE DEPTH  MAGNITUDE
0       1962    02  24   23     30     25     38.9      23,9    10        5.3
1       1964    04  11   16      0      0    39.75     25.25    10        5.7
2       1964    04  21    8     14     40     38.5     22.25    10        4.5
3       1964    04  24    3     49     58       38      21.8    10        5.0
4       1964    04  29    4     21      0    39.25     23.75    10        5.8
...      ...   ...  ..  ...    ...    ...      ...       ...   ...        ...
313395  2021    04   9    5      0    7.4  39.7856   21.9081     5        0.6
313396  2021    04   9    5      0   21.9   39.792   21.9328     5        1.5
313397  2021    04   9    5      1    6.5   39.716   22.1947     8        1.0
313398  2021    04   9    5      2    5.6  39.7929   21.9154     6        1.0
313399  2021    04   9    5     15      5  39.8007   21.8948     7        1.2

[313400 rows x 10 columns]

In [180]:
(df.MINUTE.map("{:02}".format)).astype(str)

ValueError: '=' alignment not allowed in string format specifier